@model Barbearia.Models.Salao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameSalao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameSalao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeSalao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeSalao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RuaSalao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RuaSalao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BairroSalao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BairroSalao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CepSalao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CepSalao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroSalao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroSalao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
