@model IEnumerable<Barbearia.Models.Salao>

@{
    ViewData["Title"] = "Salões";
}

<h1>Salões</h1>

<p>
    <a asp-action="Create" class="text-black-50">Cadastrar novo salão</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameSalao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CidadeSalao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RuaSalao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BairroSalao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CepSalao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroSalao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameSalao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CidadeSalao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RuaSalao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BairroSalao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CepSalao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroSalao)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.User.NameUser)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary text-decoration-none btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning text-decoration-none btn-sm">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger text-decoration-none btn-sm">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
