@model Barbearia.Models.Agendamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Agendamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioAgendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioAgendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salao.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AgendamentoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
