@model IEnumerable<Barbearia.Models.Agendamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HorarioAgendamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceSalao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioAgendamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceSalao.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AgendamentoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AgendamentoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AgendamentoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
