@model IEnumerable<Barbearia.Models.TypeUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de tipo de User</h1>

<p>
    <a asp-action="Create" class="text-black-50">Cadastrar um novo tipo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeNameUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="border-dark">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeNameUser)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary text-decoration-none btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning text-decoration-none btn-sm">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger text-decoration-none btn-sm">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
